@model Jogador

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Jogador</h1>

@if (ViewBag.UserName == null)
    {
        <h2>Voce nao tem acesso a pagina enquanto nao logar, clique abaixo:</h2>
        <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
    }
    else
    {      
        <form method="post" action="@Url.Action("Atualizar")">

            <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

            <label for="">Nome</label>
            <input type="text" name="Name" value="@ViewBag.Jogador.Name">

            <label for="">Email</label>
            <input type="text" name="Email" value="@ViewBag.Jogador.Email">

            <label for="">Senha</label>
            <input type="password" name="Senha" value="@ViewBag.Jogador.Senha">

            <label for="">Equipe</label>
            <select name="IdEquipe" id="IdEquipe">
                <option value="0">Equipes</option>

                @foreach (Equipe equipe in ViewBag.Equipe)
                {
                    @if (equipe.IdEquipe == @ViewBag.Jogador.IdEquipe)
                    {
                        <option value="@equipe.IdEquipe" selected>@equipe.Name</option>
                    }
                    else
                    {
                        <option value="@equipe.IdEquipe">@equipe.Name</option>
                    }
                }
            </select>

            <button type="submit">Atualizar</button>
        </form>
    }
