@model Jogador

@{
    ViewData["tittle"] = "Jogador";
}

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/jogadores.css">
</head>


@if (ViewBag.UserName == null)
{
    <h2>Voce nao tem acesso a pagina enquanto nao logar, clique abaixo:</h2>
    <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    <!-- MAIN -->
    <main>
        <section class="container-grid cadastro-equipes">


            <form class="frm-cad-equipe" method="post" action="@Url.Action("Cadastrar")">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <input class="campo-entrada" type="text" id="nome-jogador" name="Name"
                    placeholder="Digite o nome do Jogador:" required>

                <input class="campo-entrada" type="email" id="email-jogador" name="Email"
                    placeholder="Digite o Email do Jogador:" required>

                <input class="campo-entrada" type="password" id="senha" name="Senha" placeholder="Digite a Senha:" required>

                <select class="campo-entrada" id="equipe-select" name="IdEquipe" id="IdEquipe">
                    <option value="0">Equipes</option>

                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <option value="@equipe.IdEquipe">@equipe.Name</option>
                    }
                </select>

                <button type="submit">Cadastrar</button>
                <h3>@TempData.Peek("message")</h3>

            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table class="table table-striped table-responsive">
                <thead>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Equipe</th>
                    <th></th>
                    <th>Acoes</th>
                    <th></th>
                </thead>

                <tbody>
                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {
                        <tr>
                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Name</td>
                            <td>@jogador.Email</td>
                            <td>
                                <img src="/img/Equipes/@jogador.Equipe.Image" alt="Imagem da equipe @jogador.Equipe.Name"
                                    width="50px">
                            </td>

                            @if (jogador.Email == ViewBag.UserEmail)
                            {

                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Excluir"
                                    asp-route-id="@jogador.IdJogador"><img class="yellow-trash" src="~/assets/trash.png"
                                        alt=""></a>
                            </td>

                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Editar"
                                    asp-route-id="@jogador.IdJogador"><img class="edit-icon" src="~/assets/edit-icon.png"></a>
                            </td>
                                
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }

                        </tr>
                    }
                </tbody>
            </table>

    </main>
}




